DATABASE_URL="postgresql://agritrack:agritrack@localhost:5433/agritrack?schema=public"
JWT_SECRET="contraseña"
JWT_EXPIRES_IN="1d"
PORT=3001

AGROAN_CONTACTO_NOMBRE="AgroAn"
AGROAN_CONTACTO_TELEFONO="+591 70000000"
AGROAN_CONTACTO_EMAIL="contacto@agroan.com"